header {
  text-align: center;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will center the buttons vertically */
  height: 90vh; /* This will make the main element take up the full viewport height */
  width: 90vw; /* This will make the main element take up the full viewport width */
}
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
div {
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex; /* Changed to flex to center the content vertically */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  font-size: 16px;
  margin: 2vw 20vh;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 20vw; /* Adjust as needed */
  height: 20vh; /* Adjust as needed */
  overflow: hidden; /* Hide any content that exceeds the div size */
  position: relative; /* Required for the hover effect */
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* This will give the div a floating appearance */
  transition: background-color 0.4s ease, box-shadow 0.5s ease, transform 0.3s ease; /* Added transform to the transition property */
}

div:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); /* Increase the box shadow on hover */
}

.hover-text {
  display: none;
}

div:hover .hover-text {
  display: block;
}

div:hover h2, div:hover p:not(.hover-text) {
  display: none;
}